*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  font-size: 100%;
}

$primary-color : #444444;
$secondary-color: white;
$dark-color: #b4b4b4;
$hover-color: #4dd80f;

.header{
  width: 100%;
  height: 60px;
  
  display: flex;
  justify-content: space-around;
  vertical-align: middle;

  background-color: $primary-color;

  position: fixed;
  z-index: 1000;

  box-shadow: 0px 5px 12px black;

    &__menu{
      margin: auto;
      text-align: center;
    }

      &__link{
        margin: 15px;
        color: lightgray;
        text-decoration: none;
        
        border-bottom: 1px solid rgba($secondary-color, $alpha: 0.0);
      	transition: 0.7s linear;
      }

      &__link:hover{
        color: $hover-color;
        text-decoration: none;
        
      	border-bottom: 1px solid $hover-color;
      } 
}

/*Bloc d'image*/
.hero{
  padding-top: 60px;
  display: border-box;

    &__img{
      width: 100%;
    }
}


/*Les différens blocs descriptifs (expérience, formation...)*/

@for $i from 1 through 4 {
    .sectionA--#{$i}{
      margin: 0;
      padding: 20px;

      background-color: $secondary-color;

      color: $primary-color;

      display: flex;
      width: 100%;
    }
}

@for $i from 1 through 4 {
    .sectionB--#{$i}{
    /*  margin: 0;
      padding: 0;*/

      background-color: $primary-color;

      color: $secondary-color;

      display: flex;
      flex-direction: row-reverse;
      width: 100%;
    }
}



/*Section ma formation*/

      .colonneGauche, .colonneDroite{
        width: 50%;
        padding: 50px;

          &__h2{
            border-bottom: 1px solid $dark-color;
            margin-bottom: 2rem;
            text-transform: uppercase;
          }

          &__formation{
            margin-bottom: 3rem;

            &--dateFormation, &--contenuFormation h3{
            margin-bottom: 0.5rem 0;
            font-family: "open Sans" sans-serif;
            }

            &--dateFormation{
              border-bottom: 1px solid rgba($dark-color,  $alpha: 0.5);

              &--dateF{
              font-size: 0.9rem;
              font-weight: bold;
              letter-spacing: 1px;
              }

              &--niveauFormation{
                color: #b4b4b4;
                font-style: italic;
                font-size: 0.8rem;
              }
            }

            &--contenuFormation p{
              text-align: justify;
            }

          }

      }

      .colonneDroite{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-left: 1px solid $dark-color;
        border-right: 1px solid $dark-color;

        &__skillbox{
          width: 33.33%;
          z-index: 1;

          height: 10rem;
          padding: 20px;
          text-align: center;
        }


        &__lateralsBordures{
          border-left: 2px solid $dark-color;
          border-right: 2px solid $dark-color;
        }

      }

/*Section Portfolio*/

  .grid{
        width: 100%;
        padding: 50px;

      &__row{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        &--img{
          /*width: 25%;*/
          height: 350px;
          padding: 20px;
        }
      }
  }

/*Section mes +*/

      .colonneGauche{

        &__mesPlus{
          &--style{
            list-style-type: none;
            padding-top: 20px;
            font-size: 1.5em;
          }
        }
      }

/*Section Contacez-moi*/

      .colonneGauche1{
        width: 50%;
        padding: 50px;

        align-items: center;

        &__adress{
            padding-top: 5px;

            &--phone, &--map, &--enveloppe{
            float: left;
            margin-right: 10px;
            margin-top: 15px;

            padding: 5px;

            border: solid rgba(0,0,0,.2);
            border-radius: 50%;
            }
          }

        &__form{
          display: flex;
          flex-direction: column;

          &--fname, &--fmail, &--fmessage{
          margin-bottom: 20px;
          padding: 10px 5px;
          width: 100%;
          background-color: rgba($primary-color,0.1);
          border-style: none;
          border-radius: 5px;
          }

          &--submit{
            background-color: $primary-color;
            border-style: none;
            color: $secondary-color;
            border-radius: 5px;
            width: 150px;
            
            padding: 10px 0;
            transition: all 0.1s linear;

          }

          &--submit:hover{
            background-color: $hover-color;
          }

        }

        &__h2{
            border-bottom: 1px solid $dark-color;
            margin-bottom: 2rem;
            text-transform: uppercase;
          }
      }


      .colonneDroite1{
        width: 50%;
        padding: 50px;

        align-items: center;
      }

      footer{
        display: flex;
        justify-content: center;
        vertical-align: middle;

        background-color: $primary-color;
        color: $secondary-color;
      }

      footer a{
        color: $secondary-color;
      }

      footer a:hover{
        color: $hover-color;
      }

      footer p{
        padding: 20px;
      }