@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  font-size: 100%; }

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  background-color: #444444;
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 5px 12px black; }
  .header__menu {
    margin: auto;
    text-align: center; }
  .header__link {
    margin: 15px;
    color: lightgray;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 0.7s linear; }
  .header__link:hover {
    color: #4dd80f;
    text-decoration: none;
    border-bottom: 1px solid #4dd80f; }

/*Bloc d'image*/
.hero {
  padding-top: 60px;
  display: border-box; }
  .hero__img {
    width: 100%; }

/*Les différens blocs descriptifs (expérience, formation...)*/
.sectionA--1 {
  margin: 0;
  padding: 20px;
  background-color: white;
  color: #444444;
  display: flex;
  width: 100%; }

.sectionA--2 {
  margin: 0;
  padding: 20px;
  background-color: white;
  color: #444444;
  display: flex;
  width: 100%; }

.sectionA--3 {
  margin: 0;
  padding: 20px;
  background-color: white;
  color: #444444;
  display: flex;
  width: 100%; }

.sectionA--4 {
  margin: 0;
  padding: 20px;
  background-color: white;
  color: #444444;
  display: flex;
  width: 100%; }

.sectionB--1 {
  /*  margin: 0;
    padding: 0;*/
  background-color: #444444;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  width: 100%; }

.sectionB--2 {
  /*  margin: 0;
    padding: 0;*/
  background-color: #444444;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  width: 100%; }

.sectionB--3 {
  /*  margin: 0;
    padding: 0;*/
  background-color: #444444;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  width: 100%; }

.sectionB--4 {
  /*  margin: 0;
    padding: 0;*/
  background-color: #444444;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  width: 100%; }

/*Section ma formation*/
.colonneGauche, .colonneDroite {
  width: 50%;
  padding: 50px; }
  .colonneGauche__h2, .colonneDroite__h2 {
    border-bottom: 1px solid #b4b4b4;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .colonneGauche__formation, .colonneDroite__formation {
    margin-bottom: 3rem; }
    .colonneGauche__formation--dateFormation, .colonneGauche__formation--contenuFormation h3, .colonneDroite__formation--dateFormation, .colonneDroite__formation--contenuFormation h3 {
      margin-bottom: 0.5rem 0;
      font-family: "open Sans" sans-serif; }
    .colonneGauche__formation--dateFormation, .colonneDroite__formation--dateFormation {
      border-bottom: 1px solid rgba(180, 180, 180, 0.5); }
      .colonneGauche__formation--dateFormation--dateF, .colonneDroite__formation--dateFormation--dateF {
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: 1px; }
      .colonneGauche__formation--dateFormation--niveauFormation, .colonneDroite__formation--dateFormation--niveauFormation {
        color: #b4b4b4;
        font-style: italic;
        font-size: 0.8rem; }
    .colonneGauche__formation--contenuFormation p, .colonneDroite__formation--contenuFormation p {
      text-align: justify; }

.colonneDroite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4; }
  .colonneDroite__skillbox {
    width: 33.33%;
    z-index: 1;
    height: 10rem;
    padding: 20px;
    text-align: center; }
  .colonneDroite__lateralsBordures {
    border-left: 2px solid #b4b4b4;
    border-right: 2px solid #b4b4b4; }

/*Section Portfolio*/
.grid {
  width: 100%;
  padding: 50px; }
  .grid__row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
    .grid__row--img {
      /*width: 25%;*/
      height: 350px;
      padding: 20px; }

/*Section mes +*/
.colonneGauche__mesPlus--style {
  list-style-type: none;
  padding-top: 20px;
  font-size: 1.5em; }

/*Section Contacez-moi*/
.colonneGauche1 {
  width: 50%;
  padding: 50px;
  align-items: center; }
  .colonneGauche1__adress {
    padding-top: 5px; }
    .colonneGauche1__adress--phone, .colonneGauche1__adress--map, .colonneGauche1__adress--enveloppe {
      float: left;
      margin-right: 10px;
      margin-top: 15px;
      padding: 5px;
      border: solid rgba(0, 0, 0, 0.2);
      border-radius: 50%; }
  .colonneGauche1__form {
    display: flex;
    flex-direction: column; }
    .colonneGauche1__form--fname, .colonneGauche1__form--fmail, .colonneGauche1__form--fmessage {
      margin-bottom: 20px;
      padding: 10px 5px;
      width: 100%;
      background-color: rgba(68, 68, 68, 0.1);
      border-style: none;
      border-radius: 5px; }
    .colonneGauche1__form--submit {
      background-color: #444444;
      border-style: none;
      color: white;
      border-radius: 5px;
      width: 150px;
      padding: 10px 0;
      transition: all 0.1s linear; }
    .colonneGauche1__form--submit:hover {
      background-color: #4dd80f; }
  .colonneGauche1__h2 {
    border-bottom: 1px solid #b4b4b4;
    margin-bottom: 2rem;
    text-transform: uppercase; }

.colonneDroite1 {
  width: 50%;
  padding: 50px;
  align-items: center; }

footer {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-color: #444444;
  color: white; }

footer a {
  color: white; }

footer a:hover {
  color: #4dd80f; }

footer p {
  padding: 20px; }

/*# sourceMappingURL=main.css.map */
