.section{
    margin: 20px 0px;
}

.bg-orange{
    height: 100px;
    background-color: orange;
}

.bg-darkPink{
    height: 100px;
    background-color: darkorchid;
}

.bg-blue{
    height: 100px;
    background-color: blue;
}

.bg-pink{
    height: 100px;
    background-color: deeppink;
}

.bg-yellow{
    height: 100%;
    background-color: yellow;
}


